body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    letter-spacing: 5px;
    font-weight: lighter;
    border-bottom: 5px solid rgb(94, 0, 0);
}
